// variables.scss

//first color
$primary-color: #ff6600; 
$background-footer-color-left: #FF6A00; 
$background-footer-color-right: #f1f2f2; 

$secondary-color: #333;   
$background-color: #f9f9f9; 